:root {
    --main-white: #131313;
    --main-black: #e1e1e1;
    --select-white: #db0000;
    --select-black: #E59803;
}

body {
    margin: 0;
    color: var(--main-white);
    background-color: var(--main-white);
    background-image: url(media/background-white.png);
}

body.dark-mode {
    color: var(--main-black);
    background-image: url(media/background-black.png);
}

#header {
    display: flex;
    align-items: center;
    padding-left: 1.5625rem;
    padding-top: 1rem;
}

#headerimg {
    width: 3.125rem;
    height: 3.125rem;
}

h1 {
    font-weight: 400;
    margin-left: .5rem;
}

#right-menu {
    float: right;
    margin: 0;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
  }

#hidden-menu {
    transform: translateX(100%);
    transition: 0.4s;
    background-image: url(media/hidden-menu.png);
    background-repeat: no-repeat;
    margin-top: -4.625rem;
    width: 3.125rem;
}

.show {
    transform: translateX(0%);
}

#menu-right {
    cursor: pointer;
}

#hidden-menu > p {
    margin: 0;
    font-size: 1.25rem;
    height: 2.5rem;
    text-align: center;
    font-size: 1.25rem;
}

.serif {
    font-family: 'Cardo', serif;
}

.sans-serif {
    font-family: 'Fira Sans', sans-serif;
}

.monospace {
    font-family: 'Inconsolata', monospace;
}

.font-option.selected {
    border-color: var(--select-white);
    color: var(--select-white);
}

body.dark-mode .font-option.selected {
    border-color: var(--select-black);
    color: var(--select-black);
  }

.color-selector {
    cursor: pointer;
}

.selector {
    margin-bottom: 1.5625rem;
    margin-right: .625rem;
    border-radius: 100%;
    cursor: pointer;
    font-size: 1.5625rem;
    border: #000 2px solid;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.dark-mode .selector {
    border: var(--main-black) 2px solid;
}

.selector:hover {
    background-color: #ffffff;
}

body.dark-mode .selector:hover {
    background-color: #000;
}

#content {
    display: flex;
    justify-content: center;
    margin-bottom: 1.75rem;
}

#search {
    display: flex;
}

#text-input {
    border-radius: 1.625rem 0 0 1.625rem;
    border: 1px solid #000;
    background: #C1C1C1;
    flex-shrink: 0;
    text-align: center;
    width: 16.3125rem;
    font-size: 1.25rem;
    letter-spacing: .125rem;
    padding: .6875rem 1.375rem;
    margin-left: 15.125rem;
    margin-top: 4.9375rem;
}

#but-input {
    border-radius: 0 1.625rem 1.625rem 0;
    border: .0625rem solid #000;
    margin-left: -0.0625rem;
    background: #C1C1C1;
    background-image: url(media/loupe-white.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 3.4375rem;
    cursor: pointer;
    margin-right: 12rem;
    margin-top: 4.9375rem;
}

#def {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-right: 3.125rem;
    padding-top: 1.25rem;
}

h2 {
    grid-column: 1 / 3;
    font-weight: 400;
    text-transform: uppercase;
}

h3 {
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

#prononciation {
    cursor: pointer;
    padding-left: .3125rem;
}

#definition, #syn-word {
    font-size: 1.25rem;
    white-space: normal;
}

#description, #syn {
    padding: 0 .625rem;
}

#syn-word {
    text-transform: capitalize;
}

@media screen and (max-width: 23.4375rem) {
    


}